[submodule "Java/session-08/QuanLySanPham_KhoHang"]
	path = Java/session-08/QuanLySanPham_KhoHang
	url = git@github.com:DungDev12/java_fudamental_session08_excercies06.git
[submodule "Java/session-08/QuanLySinhVien_LopvaDiemSo"]
	path = Java/session-08/QuanLySinhVien_LopvaDiemSo
	url = git@github.com:DungDev12/java_fudamental_session08_excercies05.git
[submodule "Java/session-08/TinhToanDienTichHCNvaTimDienTichLonNhat"]
	path = Java/session-08/TinhToanDienTichHCNvaTimDienTichLonNhat
	url = git@github.com:DungDev12/java_fudamental_session08_excercies04.git
