[submodule "Java/session-08/QuanLySanPham_KhoHang"]
	path = Java/session-08/QuanLySanPham_KhoHang
	url = git@github.com:DungDev12/java_fudamental_session08_excercies06.git
[submodule "Java/session-08/QuanLySinhVien_LopvaDiemSo"]
	path = Java/session-08/QuanLySinhVien_LopvaDiemSo
	url = git@github.com:DungDev12/java_fudamental_session08_excercies05.git
[submodule "Java/session-08/TinhToanDienTichHCNvaTimDienTichLonNhat"]
	path = Java/session-08/TinhToanDienTichHCNvaTimDienTichLonNhat
	url = git@github.com:DungDev12/java_fudamental_session08_excercies04.git
[submodule "Java/session-08/TyLeQuyDoiTienTe"]
	path = Java/session-08/TyLeQuyDoiTienTe
	url = git@github.com:DungDev12/java_fudamental_session08_excercies03.git
[submodule "Java/session-09/PhuongThucXuLyRectangle"]
	path = Java/session-09/PhuongThucXuLyRectangle
	url = git@github.com:DungDev12/java_fudamental_session09_excercies01.git
[submodule "Java/session-09/QuanLyNhieuDoiTuong"]
	path = Java/session-09/QuanLyNhieuDoiTuong
	url = git@github.com:DungDev12/java_fudamental_session09_excercies02.git
[submodule "Java/session-09/StudentManagement"]
	path = Java/session-09/StudentManagement
	url = git@github.com:DungDev12/java_fudamental_session09_excercies03.git
